@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orangey-yellow: hsl(39, 100%, 56%);
  --primvary-green-teal: hsl(166, 100%, 37%);
  --primvary-cobalt-blue: hsl(234, 85%, 45%);
  --gradient-bg-light-slate-blue: hsl(252, 100%, 67%); /* background */
  --gradient-bg-light-royal-blue: hsl(241, 81%, 54%); /* background */
  --gradient-circle-violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --gradient-circle-persian-blue: hsla(241, 72%, 46%, 0); /* circle */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--neutral-pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.card {
  background-color: #fff;
  border-radius: 0 0 2rem 2rem;
}

.result {
  width: 37.5rem;
  height: 35.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(var(--gradient-bg-light-slate-blue), var(--gradient-bg-light-royal-blue));
  padding: 3rem 6rem;
  color: #fff;
  border-radius: 0 0 2rem 2rem;
}

.result h1 {
  font-size: 1.8rem;
}

.result p {
  text-align: center;
}

.score h2 {
  font-size: 5.6rem;
}

.score {
  width: 14.1rem;
  height: 14.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-image: linear-gradient(var(--gradient-circle-violet-blue), var(--gradient-circle-persian-blue));
}


.summary {
  width: 37.5rem;
  height: 45.3rem;
  background-color: var(--gradient-light-slate-blue);
  padding: 3rem;
  background-color: #fff;
}

.summary h2 {
  margin-bottom: 1.9rem;
  font-size: 1.8rem;
  color: var(--neutral-dark-gray-blue);
}

.summary-card {
  display: flex;
  align-items: center;
  width: 31.5rem;
  height: 5.6rem;
  padding: 0 17px;
  margin-bottom: 1.6rem;
  border-radius: 1rem;
}

.summary-card {
  font-weight: var(--font-weight-700);
}

.reaction {
  background-color: hsla(0, 100%, 67%, .1);
  color: var(--primary-light-red);
}

.memory {
  background-color: hsla(39, 100%, 56%, .1);
  color: var(--primary-orangey-yellow);
}

.verbal {
  background-color: hsla(166, 100%, 37%, .1);
  color: var(--primvary-green-teal);
}

.visual {
  margin-bottom: 23px;
  background-color: hsla(234, 85%, 45%, .1);
  color: var(--primvary-cobalt-blue);
}

.summary-card img {
  width: 2rem;
  margin-right: 1.6rem;
}

.user-score {
  margin-left: auto;
  color: var(--neutral-dark-gray-blue);
}

.user-score span {
  color: hsl(224, 30%, 27%, .5);
}

button {
  width: 31.5rem;
  height: 5.6rem;
  border: none;
  background-color: var(--neutral-dark-gray-blue);
  color: #fff;
  border-radius: 6rem;
  font-size: 1.8rem;
  font-weight: var(--font-weight-500);
  letter-spacing: 0.15rem;
  transition: background-color 150ms ease-in-out;
}

button:hover {
  background-color: var(--gradient-bg-light-royal-blue);
  cursor: pointer;
}

@media only screen and (min-width: 46.25rem) {
  .card {
    border-radius: 2rem;
    display: flex;
    box-shadow: 0 1rem 2.8rem hsla(0, 0%, 0%, .20);
  }

  .result {
    height: 51.2rem;
    width: 36.8rem;
    border-radius: 2rem 2rem;
  }

  .result h2 {
    font-size: 3.2rem;
  }

  .result p {
    padding: 0 1rem;
  }

  .score {
    width: 20rem;
    height: 20rem;
  }

  .score h2 {
    font-size: 7rem;
  }

  .summary {
    width: 36.8rem;
    height: 51.2rem;
    border-radius: 0 2rem 2rem 0;
    padding: 4rem;
  }

  .summary h2 {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
  }

  .summary-card {
    width: 28.8rem;
    margin-bottom: 1.9rem;
  }

  .visual {
    margin-bottom: 4.1rem;
  }

  button {
    width: 28.8rem;
  }
}